@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    width: 100%;
}

* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    display: inline-block;
    list-style-type: none;
}

label {
    color: #1b0e00aa;
    font-weight: 500;
    margin-left: 64px;
}

input {
    margin-right: 128px;
    margin-left: 64px;
    outline: none;
}

input:required {
    border: 2px solid #5e6aa7;
}

input[type="text"]:focus {
    border: 2px solid #5e6aa7;
    box-shadow: 2px 2px 6px #00000044;
}

input:invalid {
    border-color: #f44336;
}

input:valid {
    border: 2px solid #69a75e;
}

fieldset {
    border: none 
}

a:link {
    color: #056816;
    text-decoration: none;
}

a:visited {
    color: #056816;
}

#banner-image {
    background-image: url(img/banner.jpeg) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 75%;
    display: flex;
    justify-content: center;
    background-color: #89490556;
    background-blend-mode: multiply;
}

.banner-ribbon {
    height: 96px;
/*Unsure why banner ribbon extends past it's parent 
when set to 100% width. Band-aid fix for now*/
    width: 42.8%; 
    background-color: #00000088;
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 35%;
}

.banner-text {
    align-self: center;
    font-size: 28px;
}

.banner-logo {
    margin-left: -48px;
    height: 6rem;
    width: auto;
}

.banner-credits {
    color: #dddddd88;
    align-self: flex-end;
    margin-bottom: 20px;
    max-width: 300px;
    text-align: center;
}

.container {
    margin-top: 96px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    color: #472502;
    width: 100%;
}

.tag-text {
    font-weight: 600;
    font-size: 28px;
    margin-left: 64px;

}

.flavor-text {
    font-weight: 500;
    max-width: 600px;
    font-size: 20px;
    margin-left: 64px;
    margin-bottom: 24px;
}

.form-container {
    height: auto;
    color: blue;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 4px #00000099,
                0 -4px 2px #88888833;
}

.submit-button {
    height: 64px;
    width: 256px;
    margin: 24px;
    margin-left: 104px;
    border-radius: 12px;
    border: none;
    background-color: #5d3f03;
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 8px #00000088;
}

.submit-button:hover {
    transform: translateY(-2px);
    cursor: pointer;
    background-color: #4c2e02;
}